@media (min-width: 320px) {
  .footerWrap {
    height: 4rem;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leftSide {
      width: 50%;
      height: 4rem;
      line-height: 4rem;
      .copyrightText {
        font-size: 0.55rem;
        width: 100%;
        height: 100%;
      }
    }
    .rightSide {
      width: 50%;
      height: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .socialIcon {
        display: block;
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
@media (min-width: 480px) {
  .footerWrap {
    height: 4rem;
    min-width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leftSide {
      width: 50%;
      height: 4rem;
      line-height: 4rem;
      .copyrightText {
        font-size: 0.95rem;
        width: 100%;
        height: 100%;
      }
    }
    .rightSide {
      width: 50%;
      height: 4rem;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .socialIcon {
        display: block;
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
@media (min-width: 768px) {
  .footerWrap {
    height: 4rem;
    min-width: 768px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leftSide {
      width: 50%;
      height: 4rem;
      line-height: 4rem;
      .copyrightText {
        font-size: 1.4rem;
        width: 100%;
        height: 100%;
      }
    }
    .rightSide {
      width: 50%;
      height: 4rem;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .socialIcon {
        display: block;
        width: 2.45rem;
        height: 2.45rem;
      }
    }
  }
}
@media (min-width: 1024px) {
  .footerWrap {
    height: 4rem;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .leftSide {
      width: 50%;
      height: 4rem;
      line-height: 4rem;
      .copyrightText {
        font-size: 1rem;
        width: 100%;
        height: 100%;
      }
    }
    .rightSide {
      width: 50%;
      height: 4rem;
      padding: 0 5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .socialIcon {
        display: block;
        width: 2.45rem;
        height: 2.45rem;
      }
    }
  }
}
@media (min-width: 1366px) {
  .footerWrap {
    height: 4rem;
    max-width: 966px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .leftSide {
      width: 50%;
      height: 4rem;
      line-height: 4rem;
      .copyrightText {
        font-size: 1rem;
        width: 100%;
        height: 100%;
      }
    }
    .rightSide {
      width: 50%;
      height: 4rem;
      padding: 0 5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .socialIcon {
        display: block;
        width: 2.45rem;
        height: 2.45rem;
      }
    }
  }
}
@media (min-width: 1440px) {
  .footerWrap {
    height: 4rem;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .leftSide {
      width: 50%;
      height: 4rem;
      line-height: 4rem;
      .copyrightText {
        font-size: 1rem;
        width: 100%;
        height: 100%;
      }
    }
    .rightSide {
      width: 50%;
      height: 4rem;
      padding: 0 8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .socialIcon {
        display: block;
        width: 2.45rem;
        height: 2.45rem;
      }
    }
  }
}
@media (min-width: 1600px) {
  .footerWrap {
    height: 4rem;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .leftSide {
      width: 50%;
      height: 4rem;
      line-height: 4rem;
      .copyrightText {
        font-size: 1rem;
        width: 100%;
        height: 100%;
      }
    }
    .rightSide {
      width: 50%;
      height: 4rem;
      padding: 0 10rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .socialIcon {
        display: block;
        width: 2.45rem;
        height: 2.45rem;
      }
    }
  }
}
@media (min-width: 1920px) {
  .footerWrap {
    height: 4rem;
    max-width: 1620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .leftSide {
      width: 50%;
      height: 4rem;
      line-height: 4rem;
      .copyrightText {
        font-size: 1rem;
        width: 100%;
        height: 100%;
      }
    }
    .rightSide {
      width: 50%;
      height: 4rem;
      padding: 0 15rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .socialIcon {
        display: block;
        width: 2.45rem;
        height: 2.45rem;
      }
    }
  }
}
@media (min-width: 2560px) {
  .footerWrap {
    height: 4rem;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .leftSide {
      width: 50%;
      height: 4rem;
      line-height: 4rem;
      .copyrightText {
        font-size: 1rem;
        width: 100%;
        height: 100%;
      }
    }
    .rightSide {
      width: 50%;
      height: 4rem;
      padding: 0 19rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .socialIcon {
        display: block;
        width: 2.45rem;
        height: 2.45rem;
      }
    }
  }
}
