@import "./settings/reset.scss";
@import "./settings/fonts.scss";
@import "./settings/colors.scss";
@import "./settings/mixins.scss";
@import "./Header.scss";
@import "./Slider.scss";
@import "./Products.scss";
@import "./Price.scss";
@import "./Contact.scss";
@import "./Footer.scss";
