@media (min-width: 320px) {
  .productsWrap {
    min-width: 320px;
    height: 50rem;
    padding: 0 0.65rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    .box {
      width: 100%;
      height: 14.6rem;
      position: relative;
      .boxImages {
        display: block;
        width: 100%;
        height: 100%;
      }
      .productBar {
        width: 100%;
        height: 4rem;
        position: absolute;
        bottom: 1.25rem;
        line-height: 4rem;
        padding-left: 0.85rem;
        background-color: white;
        opacity: 0.6;
        .productName {
          position: absolute;
          z-index: 2;
          font-weight: bold;
          font-size: 1.25rem;
        }
        .productNameUnderline {
          display: block;
          position: absolute;
          left: 0.85rem;
          bottom: 0.4rem;
          z-index: 3;
          height: 0.6rem;
          width: 60%;
          background-color: $primaryColor;
        }
      }
      &:hover {
        .productBar {
          display: none;
        }
      }
    }
    .boxText {
      width: 100%;
      height: 16.6rem;
      position: relative;
      border: 2px solid gainsboro;
      .boxTitle {
        position: absolute;
        font-size: 1.25rem;
        top: 0.65rem;
        left: 0.85rem;
      }
      .productNameUnderline {
        display: block;
        position: absolute;
        left: 0.85rem;
        top: 2.44rem;
        height: 0.6rem;
        width: 44%;
        background-color: $primaryColor;
      }
      .boxContent {
        position: absolute;
        bottom: 0.94rem;
        padding: 0 0.45rem;
      }
    }
  }
}
