@media (min-width: 320px) {
  .sliderWrap {
    background-color: $sliderColor;
    position: absolute;
    z-index: 1;
    .mobileSlider {
      min-width: 320px;
      height: 89vh;
      margin-top: 3.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .leftArrow,
      .rightArrow {
        width: 3rem;
        height: 3rem;
        font-size: 2.85rem;
        color: $primaryColor;
        text-align: center;
      }
      .sliderContent {
        height: 100%;
        width: calc(100% - 6rem);
        position: relative;
        .chairImg {
          display: block;
          width: 100%;
          position: absolute;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 7rem;
        }
        .chairDescription {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 17rem;
          left: 50%;
          display: block;
          width: 100%;
          padding: 0 0.65rem;
          text-align: justify;
        }
        .showMore {
          position: absolute;
          transform: translate(-50%, -50%);
          left: 50%;
          bottom: 0;
          background-color: $primaryColor;
          border: none;
          border-radius: 0.8rem;
          color: white;
          font-size: 1.32rem;
          padding: 1.2rem 1rem;
        }
      }
    }
  }
}
